label {
  color: #FFF;
  font-weight: 500;
  font-size: 1.2rem;
}

button.Editar {
  width: 100%;
  height: 30px;
  border-radius: 8px;
  border: none;
  background-color: #dbb000;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;
}

button.Editar:hover {
  background-color: #cc8033;
  transition: 0.4s;
}

.EditEmployee {
  display: flex;
  align-items: center;
  justify-content: center;
}